<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2> Login </h2>
      <form id="create_connections" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="Username">Username</label>
        <input type="text" id="Username" class="form-control" placeholder="Username" formControlName="Username" required>
        <br>
        <label for="Password">Password</label>
        <input type="password" id="Password" class="form-control" placeholder="Password" formControlName="Password" required>
        <br>
        <input class="btn btn-primary mb-2" type="submit" value="Login" [disabled]="!loginForm.valid">
        <br><br>
      </form>
    </div>
  </div>
</div>
<div class="push"></div>
