<div class="container">
  <h1 class="display-4">About</h1>
  <hr class="my-4">
  <p class="text-justify">
    A web platform developed using NodeJS, Express and AngularJS that allows users to create a social event that they would like to attend with others. Users can search for the events nearby and let others know if they will be attending the event or not.
  </p>
  <br>
  For other info you can contact us on our Facebook Page <strong>EventHandler</strong> or use our <strong>Contact Page.</strong>
</div>

<div class="push"></div>
